.home {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
}
header {
  position: sticky;
  max-width: 100%;
  background-color: var(--background);
  color: (--white);
  border: none;
}
aside {
  position: fixed;
  left: 0;

  width: 20%;
  height: 100%;
  background-color: var(--background);
}
main {
  position: fixed;
  overflow: hidden;
  height: 100%;

  width: 80%;
  display: flex;
  left: 20%;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  background-color: var(--background);
}

@media screen and (max-width: 450px) {
  aside {
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main {
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
  }
}
